<article class="item column four" data-groups='["django", "web-design"]'>
	<figure><img src="http://placehold.it/800x600/ddd/fff&text=Beetle%20image" alt=""></figure>
	<a class="overlay" href="{% url 'single_work' %}">
		<div class="overlay-content">
			<div class="post-type"><i class="icon icon-picture"></i></div>
			<h2>Essentials</h2>
			<p>Consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
		</div><!-- overlay-content -->
	</a><!-- overlay -->
</article>