<aside role="complementary" class="sidebar column three last">
	<div class="widget">
		<h4>Client</h4>
		<p>{{ work.client }}</p>
	</div>
	{% if work.role %}
	<div class="widget">
		<h4>Role in Project</h4>
		<p>{{ work.role }}</p>
	</div>
	{% endif %}
	<div class="widget">

	{% if work.included %}
		<h4>Project included</h4>
		<p>{{ work.included }}</p>
	</div>
	{% endif %}
	{% if work.url %}
	<div class="widget">
		<a href="{{ work.url }}" class="button transparent">View Project</a>
	</div>
	{% endif %}													
</aside>