<aside role="complementary" class="sidebar column three last">
	<div class="widget">
		<h4>Client</h4>
		<p>Cartoonia</p>
	</div>
	<div class="widget">
		<h4>Role in Project</h4>
		<p>Lead Designer</p>
	</div>
	<div class="widget">
		<h4>Project included</h4>
		<p>Mobile and Web Interface</p>
	</div>
	<div class="widget">
		<h4>External Links</h4>
		<p>Don't forget to check out spovv portfolio!</p>
		<a href="http://dribbble.com/spovv" class="button transparent">View Project</a>
	</div>													
</aside>