<div class="related clear-after">
<h4>Related Projects</h4>
{% for i in releated %}
<div class="item {% if forloop.last %} last {% endif %}">
	<figure><img src="{{ i.thumbnail.url }}" alt=""></figure>
	<a class="overlay" href="{% url 'single_work' i.pk %}">
		<div class="overlay-content">
			<div class="post-type"><i class="icon icon-search"></i></div>
			<h2>{{ i.name }}</h2>
			<p>{{ i.thumb_text }}</p>
		</div><!-- overlay-content -->
	</a><!-- overlay -->								
</div>
{% endfor %}											
</div>	