<div class="related clear-after">
<h4>Related Projects</h4>
<div class="item">
	<figure><img src="http://placehold.it/600x600/ddd/fff&text=Beetle%20image" alt=""></figure>
	<a class="overlay" href="#">
		<div class="overlay-content">
			<div class="post-type"><i class="icon icon-search"></i></div>
			<h2>Spicemode</h2>
			<p>Consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
		</div><!-- overlay-content -->
	</a><!-- overlay -->								
</div>
<div class="item">
	<figure><img src="http://placehold.it/600x600/ddd/fff&text=Beetle%20image" alt=""></figure>
	<a class="overlay" href="#">
		<div class="overlay-content">
			<div class="post-type"><i class="icon icon-search"></i></div>
			<h2>In the end</h2>
			<p>Consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
		</div><!-- overlay-content -->
	</a><!-- overlay -->								
</div>
<div class="item last">
	<figure><img src="http://placehold.it/600x600/ddd/fff&text=Beetle%20image" alt=""></figure>
	<a class="overlay" href="#">
		<div class="overlay-content">
			<div class="post-type"><i class="icon icon-search"></i></div>
			<h2>Moove</h2>
			<p>Consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
		</div><!-- overlay-content -->
	</a><!-- overlay -->								
</div>											
</div>	