{% extends 'base.html' %}
{% load staticfiles %}
{% block 'base' %}
	

<main role="main">
{% include 'main/index_elements/intro_wrap.html' %}

	<div id="main">

	{% include 'main/index_elements/about.html' %}	
	{% include 'main/index_elements/specializations.html' %}
	{% include 'main/index_elements/skills.html' %}
	{% include 'main/index_elements/last_works.html' %}						
	{% include 'main/index_elements/testmonials.html' %}
	{% include 'main/index_elements/contacts.html' %}	

	</div><!-- id-main -->
</main><!-- main -->


{% endblock %}