{% load staticfiles %}
<section class="row section">
		<div class="row-content buffer even clear-after">
			<div class="section-title"><h3>Who I am?</h3></div>
			<div class="custom-carousel" data-autoplay="5000" data-pagination="true" data-transition="fade" data-autoheight="false">
				<div class="carousel-item">
					<div class="column four" style="opacity: 0.6;">
						<img src="{% static 'img/lamp.png' %}" alt="">
					</div>
					<div class="column eight last">
						<h3>I'm a pacionate programmer.</h3>
						<p>I’m an experienced and passionate user interface designer with interaction design background.</p>
					</div>
				</div><!-- carousel-item -->
				<div class="carousel-item">
					<div class="column four" style="opacity: 0.6;">
						<img src="{% static 'img/pencil.png' %}" alt="">
					</div>
					<div class="column eight last">
						<h3>I'm a good experience web-designer.</h3>
						<p>I’m an experienced and passionate user interface designer with interaction design background.</p>
					</div>
				</div><!-- carousel-item -->
				<div class="carousel-item">
					<div class="column four" style="opacity: 0.6;">
						<img src="{% static 'img/cap.png' %}" alt="">
					</div>
					<div class="column eight last">
						<h3>I'm a student.</h3>
						<p>I’m an experienced and passionate user interface designer with interaction design background.</p>
					</div>
				</div><!-- carousel-item -->
			</div>			
		</div>
	</section>