{% load staticfiles %}
<section class="row section">
	<div class="row-content buffer even clear-after">
		<div class="section-title"><h3>Latest Works</h3></div>
			<div class="grid-items portfolio-section preload">
				<article class="item column four" data-groups='["fun", "icons"]'>
					<figure><img src="http://placehold.it/800x600/ddd/fff&text=Beetle%20image" alt=""></figure>
					<a class="overlay" href="#">
						<div class="overlay-content">
							<div class="post-type"><i class="icon icon-picture"></i></div>
							<h2>The House</h2>
							<p>Consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
						</div><!-- overlay-content -->
					</a><!-- overlay -->
				</article>
				<article class="item column four" data-groups='["fun", "icons"]'>
					<figure><img src="http://placehold.it/800x600/ddd/fff&text=Beetle%20image" alt=""></figure>
					<a class="overlay" href="#">
						<div class="overlay-content">
							<div class="post-type"><i class="icon icon-picture"></i></div>
							<h2>The House</h2>
							<p>Consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
						</div><!-- overlay-content -->
					</a><!-- overlay -->
				</article>
				<article class="item column four" data-groups='["fun", "icons"]'>
					<figure><img src="http://placehold.it/800x600/ddd/fff&text=Beetle%20image" alt=""></figure>
					<a class="overlay" href="#">
						<div class="overlay-content">
							<div class="post-type"><i class="icon icon-picture"></i></div>
							<h2>The House</h2>
							<p>Consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
						</div><!-- overlay-content -->
					</a><!-- overlay -->
				</article>		
				
				<div class="shuffle-sizer four"></div>
			</div><!-- grid-items -->
		<div class="more-btn"><a class="button transparent aqua" href="#">Browse Portfolio</a></div>
	</div>	
</section>