{% load staticfiles %}
<section class="row section">
	<div class="row-content buffer even clear-after">
		<div class="section-title"><h3>Skills</h3></div>
		<p class="centertxt">I’m an experienced and passionate user interface designer with interaction design background.<br>My goal is to make the world wide web a better place by designing beautiful user experiences, one site at a time.</p>
		<div class="chart" data-percent="73" data-bar-color="#fd685b" data-animate="2000">
			<div class="chart-content">
				<div class="percent"></div>
				<div class="chart-title">Front-end</div>
			</div><!-- chart-content -->
		</div><!-- chart -->
		<div class="chart" data-percent="85" data-bar-color="#ffce54" data-animate="2500">
			<div class="chart-content">
				<div class="percent"></div>
				<div class="chart-title">Back-end</div>
			</div><!-- chart-content -->
		</div><!-- chart -->
		<div class="chart" data-percent="70" data-bar-color="#a0d468" data-animate="3000">
			<div class="chart-content">
				<div class="percent"></div>
				<div class="chart-title">User Interfaces</div>
			</div><!-- chart-content -->
		</div><!-- chart -->
		<div class="chart" data-percent="95" data-bar-color="#ac92ec" data-animate="3500">
			<div class="chart-content">
				<div class="percent"></div>
				<div class="chart-title">Web Desighn</div>
			</div><!-- chart-content -->
		</div><!-- chart -->
	</div>	
</section>