{% load staticfiles %}
<section class="row section">
	<div class="row-content buffer even clear-after">
		<div class="section-title"><h3>My Skills</h3></div>
		<p class="centertxt">I’m an experienced and passionate programmer and wed-designer.<br>My goal is to make the internet a better place by creating beautiful and simple web sites.</p>
		<div class="chart" data-percent="86" data-bar-color="#fd685b" data-animate="2000">
			<div class="chart-content">
				<div class="percent"></div>
				<div class="chart-title">HTML/CSS</div>
			</div><!-- chart-content -->
		</div><!-- chart -->
		<div class="chart" data-percent="69" data-bar-color="#a0d468" data-animate="2500">
			<div class="chart-content">
				<div class="percent"></div>
				<div class="chart-title">Python/Django</div>
			</div><!-- chart-content -->
		</div><!-- chart -->
		<div class="chart" data-percent="74" data-bar-color="#ffce54" data-animate="3000">
			<div class="chart-content">
				<div class="percent"></div>
				<div class="chart-title">Java Script</div>
			</div><!-- chart-content -->
		</div><!-- chart -->
		<div class="chart" data-percent="62" data-bar-color="#ac92ec" data-animate="3500">
			<div class="chart-content">
				<div class="percent"></div>
				<div class="chart-title">Web-Design</div>
			</div><!-- chart-content -->
		</div><!-- chart -->
	</div>	
</section>