<section class="row section text-light" style="background-color:#FF605F;">
	<div class="row-content buffer even clear-after">
		<div class="testimonial-slider centertxt" data-autoplay="5000" data-pagination="true" data-transition="fade" data-autoheight="false">
			<div class="quote">
				<div class="column twelve last">
					<p>"It is a long established fact that a reader will be distracted by the readable content of a page when looking at its layout."</p>
					<div class="author">John Lennon</div>
				</div><!-- column -->
			</div><!-- quote -->
			<div class="quote">
				<div class="column twelve last">								
					<p>"Many desktop publishing packages and web page editors now use Lorem Ipsum as their default model text, and a search for 'lorem ipsum' will uncover many web sites still in their infancy."</p>
					<div class="author">Fabrizio De Andr&egrave;</div>
				</div><!-- column -->
			</div><!-- quote -->		
			<div class="quote">
				<div class="column twelve last">									
					<p>"There are many variations of passages of Lorem Ipsum available, but the majority have suffered alteration in some form, by injected humour."</p>
					<div class="author">B.B. King</div>
				</div><!-- column -->									
			</div><!-- quote -->							
		</div><!-- testimonial-slider -->				
	</div>
</section>	