
<div class="column nine">
	<form id="contact-form" class="contact-section" method="post" action="">
		<span class="pre-input"><i class="icon icon-user"></i></span>
		<input class="name plain buffer" type="text" name="name" placeholder="Full name">
		<span class="pre-input"><i class="icon icon-email"></i></span>
		<input class="email plain buffer" type="email" name="email" placeholder="Email address">
		<textarea class="plain buffer" name="message" placeholder="Don't forget that kindness is all!"></textarea>
		<input id="send" class="plain button red" type="button" value="Send a Message">
	</form>	
	<div id="success"></div>
</div>